/* 	#0000ff   card top        159 logo: #07d , Conv_Gotham-Bold(mostly in 159)     #00bfff  card header 2nd one   Footer: #0b59a7(159)     159 site orange,blue,black :#f6893b,#1a77bd,#414042(text)   orange #F87800   Blue bg: #0080ff
Conv_Gotham-book',Sans-Serif    or Conv_Gotham-book',Helvetica,Arial,sans-serif
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1a77bd;
}

.header {
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
}

h4{
  font-weight: 600;
}

.container{
  /* background-color: aquamarine; */
  width: 1000px;
 
}

.card-common{
  border-bottom: 2px solid #f6893b; 
  background-color: #0b59a7;
  height: 100px;
}
 /* Card- title  */
h6 {
  color: #fff;
  /* text-align: center; */
}


.card_icon{
  width: 25%;

}

/* Items in collabse bar */
.sublist{
  color: #f6893b;
  list-style:none;                                            /* for removing li numbering */              
  display:none                                                /* For show and hide onclick*/
  /* text-decoration: none; */
}

#mydiv a, #mydivCSI a{
  color: #f6893b;
}
#mydiv a:hover, #mydivCSI a:hover{
  color: #059;
}




  /* rgba bcz not to affect opacity in text */
.card-header{
  color: #0b59a7 ;
  font-weight: bold;
  background-color: rgba(11, 89, 167, 0.1) ;
  height: 100px;
 
}
.list-group-item{
  color: #0b59a7;
 
}


.footer-img{

  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  
}
 
.social-links a{
 text-align: center;
float: left;
width: 40px;
height: 40px;
border: 2px solid #fff;
border-radius: 100%;
margin-right: 7px;                /*space between*/
}


.social-links a i{
font-size: 30px;
 line-height: 38px; 
/* color: #fff; */
} 

.p-white{
  /* color: #fff !important;  */
  font-size: 15px;
}


/* .footer {
  background: #0b59a7;
  min-height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
} */


/* .container {
  width: 1200px;
}
.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}
.uk-container {
  box-sizing: border-box;
  max-width: 980px;
  padding: 0 25px;
}

.uk-text-center {
  text-align: center!important;
}

uk-grid {
  margin-left: -25px;
}
.uk-grid {
                                            display: -ms-flexbox;
                                            display: -webkit-flex;
                                            -ms-flex-wrap: wrap;
                                            -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}  */


















